<mat-card>
    <div id="poke_api_logo_container">
        <img id="poke_api_logo" src="../../../../assets/images/pokeapi_logo.png" alt="poke_api_logo">
    </div>
    <mat-card-header>
        <mat-card-title id="title_poke_api"> PokeApi APP</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p id="description_poke_api">
          Esta es la Aplicacion basada en PokeApi donde se implementaron varias funciones a la hora de buscar pokemones. La Aplicacion esta hecha con Angular 17
        </p>
    </mat-card-content>
</mat-card>
